<p>add works!</p>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de carros</li>
  </ol>
</nav>
<div class="container">
  <div class="card list-car">
    <h5 class="card-header">Lista de carros</h5>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">descrição</th>
              <th scope="col">n_grupo</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Clust of Clusts">
              <td>{{Clust.id}}</td>
              <td>{{Clust.descricao}}</td>
              <td>{{Clust.n_grupo}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editClusts(Clust)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteClusts(Clust)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="card add-car">
      <h5 class="card-header">Adicionar/Atualizar carro</h5>
      <div class="card-body">
          <form id="add-form" (ngSubmit)="f.form.valid && saveClusts(f)" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="model">Descrição</label>
                <input type="text" [(ngModel)]="Clust.descricao" id="descricao" name="descricao" #descricao="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && descricao.invalid }" placeholder="Digite a descrição do produto">
                <div *ngIf="f.submitted && descricao.invalid" class="invalid-feedback">
                    <div *ngIf="descricao.errors.required">Descrição é obrigatório</div>
                </div>
            </div>
            <div class="form-group">
                <label for="color">N_grupo</label>
                <input type="text" [(ngModel)]="Clust.n_grupo" id="n-grupo" name="n_grupo" #n_grupo="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && n_grupo.invalid }" placeholder="Digite o nome do grupo de produtos">
                <div *ngIf="f.submitted && n_grupo.invalid" class="invalid-feedback">
                    <div *ngIf="n_grupo.errors.required">N_grupo é obrigatória</div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-add-car">Salvar</button>
            <button type="reset" class="btn btn-secondary btn-add-car" (click)="cleanForm(f)">Cancelar</button>
          </form>
      </div>
    </div>
</div>
