<nav class="navbar navbar-expand-sm  sticky-top navbar-light  bg-light ">
  <a class="navbar" routerLink="/">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgAy5Oa6ZLASEHkhXe60SzrCs66L5AoC1qGw&usqp=CAU" width="130" height="45" class="d-inline-block align-top" alt="" loading="lazy">
              </a>

              <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
                &#9776;
              </button>

              <div  [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse " >

                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
              <li class="nav-item">
                <a class="nav-link" [routerLink]="'/obrigado'" routerLinkActive="active"(click)="isMenuCollapsed = true">personas</a>
              </li>
            <li class="nav-item">
              <a class="nav-link"  [routerLink]="'/cadastrar'" routerLinkActive="active"(click)="isMenuCollapsed = true">Gerar Novo</a>
            </li>
          </ul>
        </div>

        </nav>

<router-outlet></router-outlet>
